


#texbox{
    border: 5px dotted #c72669;
    height: 145px;
    width: 95%;
}



#communication{
    height: 120px;
font-family: 'Reenie Beanie', cursive;
    font-size: 19px;
   padding: 10px;
    overflow: auto;
    


}

.commentate{
   margin-left:20%;
      

}



#designcontainer{
       width: 22%;
    position: fixed;
    padding-left: 0;
    
    bottom: 0; 
}

.box-masonry-hover-text-header{
    text-decoration: none;
}


.sidebar-heading{
    text-transform: none;
letter-spacing: normal;
    font-size: 40px;

   /*padding-bottom: 10px;
    border-bottom: 5px solid #c72669; */
}

body{
    line-height: 1;
    text-transform: none;
letter-spacing: normal;
    background-image:url(bg.png);
    background-repeat: repeat;
    background-size: contain;
    font-family: helvetica;
    background-color: #d8dace;
    
}

li{
    text-transform: none;
}

.sidebar-menu{
    
}
#sidebardesign{
    width: 70%;

}

#sidebar{

}

.vibes{
    color: black;
    background-image:url(bg1.png);
    background-repeat: repeat;
    background-size: contain;
    background-color: rgb(212,206,174);
 
}

p{
    color: black;
}
.abouth1{
    border-bottom: 10px solid #c72669;
}

.abouth4{

}

#strengths{
    width: 70%;
}

#me{
    width: 40%;
}

.mainview{
   
}

.pcs{
display:block; height:400px !important; margin:0 auto 30px;


}

.pcs1{
display:block; margin:0 auto 30px;


}

.pcp{
    max-height: 100%;
    max-width:  100%;

}

.emmy{
    width: 60%;
}




#bblogo{
    margin-top: 17%;
    width: 60%;
    margin-bottom: 10%;
}


#rtvideo{

}

.tools{
    padding-left: 30px;
    margin-bottom: 10px;

}

li{
    margin: inherit;
}

.owl-item{
    height: 50%;
}

.modpad{
    padding: 0;
}

.leadmargin{
    margin-bottom:0;
}

.margtop{
    margin-top: 50px;
}

.codelink{
    text-decoration: none;
border-bottom: 2px dotted #c72669;
}

.codelink:hover{
    color:#c72669;
   text-decoration: none; 
}

.codelink:visited{
   text-decoration: none; 
}

.codelink:active{
   text-decoration: none; 
}


@media screen and (max-width: 1000px){
.email{
    word-break: break-all;
}
}


.lead2{margin-bottom:10px;font-size:14px;font-weight:300;line-height:1.4} 
@media (min-width:768px){
    .lead2{font-size:19px}}

.lead3{margin-bottom:10px;font-size:14px;font-weight:300;line-height:1.4} 
@media (min-width:768px){
    .lead2{font-size:16px}}

#architecture{
    width: 80%;
}

#board{
    width: 80%;
}