.prev{color: #c72669; text-decoration: none;}
.next{color: #c72669; text-decoration: none; right: 40px;}
FilesMatch{visibility: hidden;}

a.plink{
    font-family: Montserrat;
     text-transform : uppercase;
}

.sidebar-content{
    width: inherit;
    position: fixed;
    padding-right: 60px;
}

.box-masonry{
    border-radius: 35px !important;
}

.radius{
    border-radius: 30px;
}

body{
    font-style: light;
}

.btn{
 font-family : Montserrat;
  font-size : 14px;
  letter-spacing : 3.96px;
  text-transform : uppercase;
  
    
  
}

.box-masonry .box-masonry-hover-text-header p {
    font-size: 11px;
}

.box-masonry-hover-text-header>h4{
    font-size: 14px;
}

.shadoe{
     box-shadow : 0px 0px 20px rgba(0, 0, 0, 0.7); 
}
.pproj{
    margin-right: 15px;
}

.mainn{
    margin-right: 10px;
}

.workcont{
    padding-left: 0;
}
.work{
    margin: 20px;
  box-shadow : 0px 0px 20px rgba(0, 0, 0, 0.7);  
}

.box-masonry-hover-text-header{text-decoration:none;}
.sidebar-heading{  font-family : Montserrat;
  font-size : 35px;
  letter-spacing : 3.96px;
  text-transform : uppercase;
  color : #333333;
  color : rgb(51, 51, 51);
  text-align: left !important}
.h1,h1{  font-family : Montserrat;
  font-size : 35px;
  letter-spacing : 3.96px;
  text-transform : uppercase;
  color : #333333;
  color : rgb(51, 51, 51);
text-align: center;}
h2,.h2{
    margin-bottom: 30px;
    font-family : Montserrat;
  font-size : 30px;
  letter-spacing : 3.96px;
  text-transform : uppercase;
  color : #333333;
  color : rgb(51, 51, 51);
    text-align: center;
}
h3,.h3{
    margin-bottom: 20px;
    font-family : Montserrat;
  font-size : 25px;
  letter-spacing : 3.96px;
  text-transform : uppercase;
  color : #333333;
  color : rgb(51, 51, 51);
    text-align: center;
}
.listhead{
    text-align: left;
}

#texbox{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 10px;

}

.line{
  position: absolute;
}



ul{
    padding-left: 0;
}



.center{
        text-align: center;
}



.special{
    text-align: left;
}

.projectrow{
    z-index: 1;
    border-radius: 35px;background:#fff;margin-bottom:30px; position:relative; box-shadow : 0px 0px 8px rgba(0, 0, 0, 0.4);filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=0, Color='#000000') ; margin-right: 30px; padding-top: 40px; padding-bottom: 20px;
}


body{background-image:url(Webbackground.png);background-size:cover;background-color:white; background-attachment: fixed}

.sidebar-menu{}
#sidebardesign{width:70%;}
#sidebar{}

p{color:black;}
.abouth1{border-bottom:10px solid #c72669;}
.abouth4{}
#strengths{width:70%;}

.mainview{}
.pcs{display:block;height:500px !important;margin:0 auto 30px;}
.pcs1{display:block;margin:0 auto 30px;}
.pcp{max-height:100%;max-width:100%;}
.emmy{width:60%;}
#bblogo{margin-top:17%;width:60%;margin-bottom:10%;}
#rtvideo{display: block;
    margin-left: auto;
    margin-right: auto;}
.tools{padding-left:30px;margin-bottom:10px;}
li{margin:inherit;}
.owl-item{height:50%;}
.modpad{padding:0;}
.leadmargin{margin-bottom:0;}
.margtop{margin-top:50px;}
.codelink{text-decoration:none;border-bottom:2px dotted #c72669;}
.codelink:hover{color:#c72669;text-decoration:none;}
.codelink:visited{text-decoration:none;}
.codelink:active{text-decoration:none;}
@media screen and (max-width:1000px){.email{word-break:break-all; } .projectrow{margin-left: 30px;} .h1,h1,h2,h3,.h2,.h3{font-size: 18px;} .mobileimg{width: 100%;} .row{margin-left: 0; margin-right: 0;} .sidebar-heading{font-size: 24px;} .sidebar-menu{font-size: 12px;} .content-column-content{margin: 0;}
}
.lead2{margin-bottom:10px;font-size:14px;font-weight:300;line-height:1.4}
@media (min-width:768px){.lead2{font-size:19px}}
@media (min-width:900px){#me{width:20%;} }
@media (max-width:900px){#me{width:70%;} }
.lead3{margin-bottom:10px;font-size:14px;font-weight:300;line-height:1.4}
@media (min-width:768px){.lead2{font-size:16px}}
#architecture{width:50%;}
#board{width:80%;}