

@media screen and (min-width: 0px) and (max-width: 1000px){
.owl-buttons{
    width: 100%;

position: absolute;
    top:-8.5%;
    left: 50%;
    transform: translateX(-7%);
    padding: 10px;
}


.owl-pagination{

    position: absolute;
    top:-8%;
left: -2%;
    padding: 10px;
}
    
    .bottom-margin{
        10%;
    }
}

@media screen and (min-width: 0px) and (max-width: 1000px) {
    .owl-pagination{
 
        top:-13%;}
  .owl-buttons{ display: none; }
}